/* Change background color */
body {
    background-color: #555105;
    margin: 20px;
}

/* Style heading */
h1 {
    color: #633402;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

/* Style paragraphs */
p {
    color: #333333; 
    font-family: "Times New Roman", serif;
    padding: 22px; 
}